<div class="block2">
  <div class="container_12"> 
    <!--==============================content================================-->
    <section class="content">
      <div class="wrapper">
        <div class="grid_6">
          <div class="hello_box"> PolicyOracle is a collective intelligence platform for nowcasting Global Systems Challenges </div>
        </div>
        <div class="grid_6" style="padding: 5px; background-color: #e6e8e4">
          <div class="hello_box">
            Latest Questions
          </div>
          <ul id="latest_questions">
            <%@markets.each do |market|%>
              <li>
                <%= link_to market.name, market_path(market) if !market.nil? && market.name%>
              </li>
            <%end%>
          </ul>
          <div class="hello_box">
            <button type="button" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-plus"></span> <%= link_to "View More", markets_path , :class => "two" %> 
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="featured_block">
  <div class="container_12">
    <section class="content">
      <div class="wrapper offers_box">
        <article class="grid_3">
          <h2 class="clearfix"> <span class="f_left">How Policy Oracle Works</span>
            <!--
            <a id="next" class="next"></a> <a id="prev" class="prev"></a> </h2>
            <p>  PolicyOracle is based on the idea that the collective wisdom of an informed and diverse group is often more accurate at forecasting the outcome of events than that of one individual expert.
               <a href="project-fourcol.html" class="arrowlink">Our Portfolio</a>
            </p> -->
        </article>
        <div class="grid_12">
          <div id="home-services">
            <div class="grid_3">
              <div class="offer"> <%= image_tag("register.png", alt: "Register") %>
                <div class="title">Register</div>
                Want to play in a market about Economic, Environmental or Energy Questions? Register today for FREE and we'll set you up with 200 points. The rest is up to you.<br>
              </div>
            </div>
            <div class="grid_3">
              <div class="offer"> <%= image_tag("predict.png", alt: "Predict") %>
                <div class="title">Predict</div>
                Navigate in active questions and make your prediction about a topic which interests you.<br>
              </div>
            </div>
            <div class="grid_3 last-col">
              <div class="offer"> <%= image_tag("update.png", alt: "Update") %>
                <div class="title">Update</div>
                Get informed and update your predictions whenever you want. The goal is to win!<br>
              </div>
            </div>
            <div class="grid_3 ">
              <div class="offer"> <%= image_tag("awards.png", alt: "Awards") %>
                <div class="title">Check Results</div>
                After the answer to a question is determined, you will win or loose points depending on your prediction.<br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<% if !signed_in?%>
  <div class="hireus_block">
    <div class="container_12">
      <section class="">
        <div class="wrapper">
          <div class="grid_4 ">
      	     <h2>Impressed? Want to Sign Up? </h2>
          </div>
           <div class="grid_8 ">
      	     <%= button_to "SIGN UP NOW!", signup_path, class: "btn-signup", :method => :get %>
          </div> 

  	    </div>
  	  </section>
    </div>
  </div>
<% end %>