<div class="block2">
  <div class="container_12"> 
    <!--==============================content================================-->
    <section class="content">
      <div class="wrapper">
        <article class="grid_12 last-col">
          <div class="hello_box"> An innovative prediction market. </div>
        </article>
      </div>
      <div class="wrapper offers_box">
        <article class="grid_3">
          <h2 class="clearfix"> <span class="f_left">How Policy Oracle Works</span> 
          <!--
          <a id="next" class="next"></a> <a id="prev" class="prev"></a> </h2>
          <p>  PolicyOracle is based on the idea that the collective wisdom of an informed and diverse group is often more accurate at forecasting the outcome of events than that of one individual expert. 
             <a href="project-fourcol.html" class="arrowlink">Our Portfolio</a> 
          </p> -->
        </article>
        <div class="grid_12">
          <div id="home-services">
            <div class="grid_3">
              <div class="offer"> <%= image_tag("register.png", alt: "Register") %>
                <div class="title">Register</div>
                Think You know Economics, Politics and Sports? Register today for FREE and we'll set you up with $. The rest is up to you.<br>
              </div>
            </div>
            <div class="grid_3">
              <div class="offer"> <%= image_tag("predict.png", alt: "Predict") %>
                <div class="title">Predict</div>
                Navigate in running predictions and make known your forecast about a future event which interests you.<br>
              </div>
            </div>
            <div class="grid_3 last-col">
              <div class="offer"> <%= image_tag("update.png", alt: "Update") %>
                <div class="title">Update</div>
                Get informed and update your predictions whenever you want. The goal is to win!<br>
              </div>
            </div>
            <div class="grid_3 ">
              <div class="offer"> <%= image_tag("awards.png", alt: "Awards") %>
                <div class="title">Check Results</div>
                After the answer to an event is known and made public, participants who answered correctly will be be rewarded and move up on our leaderboard. The more correct forecasts a participant makes, the more influence they’ll have in other forecasts.<br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="featured_block">
  <div class="container_12">
    <section class="content">
      <div class="wrapper featured_work">
        <article class="grid_3">
          <h2>Latest Forecasts</h2>
            <p><%= link_to @market.name, market_path(@market) if !@market.nil? && @market.name%></p>

          <!-- <a href="project-details.html" class="arrowlink">Details</a>&nbsp; 
           <a href="contact.html" class="arrowlink">Contact Us</a> -->
        </article>
        <article class="grid_9 last">
          <div class="flexslider" id="home-page-slider-secondary">
            <div class="imgwrap lifted"><%= image_tag("featured-work.jpg", alt: "Featured") %></div>
          </div>
        </article>
      </div>
    </section>
  </div>
</div>

<div class="hireus_block">
  <div class="container_12">
    <section class="">
      <div class="wrapper">
    	 <h2>Impressed? Want to Sign Up?</h2>
    	 <%= link_to "Sign up now!", signup_path, class: "button large" %>

	    </div>
	  </section>
  </div>
</div>