<% provide(:title, "Sign in") %>
<div class="block2">
  	<div class="container_12">
    	<section class="content">
      		<div class="wrapper">
        		<article class="grid_12 last-col">
          			<div class="hello_box"> Sign in  </div>
        		</article>

          		<article class="grid_3">
          			<%= link_to 'I forgot my username / password', '#' %>
          		</article>
				
          		<article class="grid_9 last">
          			<%= form_for(:session, url: sessions_path) do |f| %>
          				<ul id="homehireus" class="project-filter">
          					<li>
                  			<label>Email:</label>
                  			<%= f.text_field :email %>
               			</li>
          					<li>
                  		<label>Password:</label>
                  		<%= f.password_field :password %>
               			</li>

	      					<%= f.submit "Sign in", class: "button" %>
	      				</ul>
	    			<% end %>

	    			<p>New user? <%= link_to "Sign up now!", signup_path %></p>
	    		</article>
	  	  	</div>
		</section>
  	</div>
</div>