<% provide(:title, 'My Orders') %>
<div class="hireus_block">
  <div class="container_12">
    <section class="">
      <div class="wrapper">
        <h2>My Orders (<%= @holdings.count %>)</h2>
        <% @holdings.each do |holding| %>
          <ol id="positions">
            <li class="posotion_group">
              <h2><%= holding.contract.market.name if holding.contract %></h2>
              <table class="headertable">
                <thead>
                  <tr>
                    <th><h4>YOUR PREDICTION </h4></th>
                    <th><h4>CURRENT PROFIT/LOSS</h4></th>
                    <th><h4>CROWD PREDICTION</h4></th>
                    <th><h4>SHARES </h4></th>
                    <th><h4>YOU'VE SPENT </h4></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="answered"><%= holding.contract.name if holding.contract %></td>
                    <td class="answered"><%= %></td>
                    <td  class="answered"><h4><%= holding.contract.current_price.round(4)*100 if holding.contract %>%</h4></td> 
                    <td class="details"><h4><%= holding.quantity %></h4></td> 
                    <td class="answered2"><%= (holding.avg_price * holding.quantity).round(4)*100 %><h4><%=  %></h4></td> 
                  </tr>
                </tbody>
              </table>
              <p class="market_info">Closes: <%= holding.contract.market.arbitration_date %></p>
            </li>
            <br>
          <ol>
        <% end %>
        <%= will_paginate(@holdings, :renderer => WillPaginate::ActionView::LinkRenderer) %>
      </div>
    </section>
  </div>
</div>