<% @market.contracts.each do |contract| %>
    <div class="grid_9 contract">
        <div class="grid_4 multiple_choice_name" >
            <% if signed_in? && @market.status? %>
                <a class="small secondary message_button contract_link" id="transaction_container_link<%=contract.id%>" href="#"><%= contract.name %></a>
                <div class="transaction_container hidden">
                  <%= render partial: 'shared/utransaction_form', :locals => { :contract => contract} %>
                </div>
            <% else %>
                <% if contract.market.correct_contract_id == contract.id %>
                    <div class="multiple_choice_correct_name">         
                    <h7 ><%= contract.name %></h7></div>
                <% else %>
                    <h7 class="multiple_choice_wrong"><%= contract.name %></h7>
                <% end %>
            <% end %>
        </div>
        <div class="grid_1" id="multiple_choice_price" >
            <% if contract.market.correct_contract_id == contract.id %> 
                <div class="price_area">         
                    <h7 class="correct_price" id="current_price_<%= contract.id %>"><%= "%0.2f" % (100*contract.current_price.round(4)) %></h7></div>
            <% else %>
                <h7 class="wrong_price" id="current_price_<%= contract.id %>"><%= "%0.2f" % (100*contract.current_price.round(4)) %></h7>
            <% end %>
        </div>
        <div class="grid_2" id="mark_correct" >
            <% if contract.market.correct_contract_id == contract.id %> 
                <p class="correct_answer2">Correct Answer</p>
            <% end %>
        </div>
    </div>
<% end %>
