<% provide(:title) %>
<div class="hireus_block">
	<div class="container_12">
    	<section class="content">
	      	<div class="wrapper">
		        <article class="grid_12 last-col">
		          <div class="hello_box" style="margin:10px">  <%=  @contract.market.name  %></div>
		           <div class="hello_box" style="font-size:25px; margin:5px; padding:0px 0px 0px 50px">  <%=  @contract.name  %></div>
		        </article>
		    </div>
		    <div class="wrapper">
        		<article class="grid_12">
          			<article class="grid_10">
          				<article class="grid_7">
				            <div class="feature">
				                <div class="feature-binary-left"><%= "#{@contract.current_price.round(2)*100}" %>%</div>
				            </div><br><br>
		          			<p id="center"> Modify the chances if you have a different opinion <br>by investing or changing your investments on the different outcomes </p>
							<div class="trade_interface">
		                        <% if @contract.market.status? %>
		                          <table>
		                            <tr>
		                              <% if signed_in?%>
		                                <td align="left"><%= render partial: 'shared/utransaction_mchoice_form', :locals => { :contract => @contract} %></td>
		                              <% end %>
		                            </tr>
		                          </table>
		                        <% end %>
                      		</div>
				            <ul class="blog_pagination">
				              	<%= link_to 'Back to Questions', markets_path(@contract.market.id), :class => "one" %> 
				              	<% if signed_in? && current_user.admin? %>
		                            |<%= link_to 'Edit', edit_contract_path(@contract) %> |
		                            <%= link_to 'Delete', @contract, method: :delete, data: { confirm: 'Are you sure?' } %></p>
		                        <% end %>
				            </ul>
		          		</article>
		          		<% if signed_in? && @contract.market.status?%>
			              <article class="grid_3" style="margin:0">
			                <div id="list">
			                  <table class="prerformancecontent">
			                      <tbody>
			                        <tr>
			                            <td align="left">Investement amount:</td>
			                            <td align="right" valign="middle"><%= current_user.investment_amount.round(2) %></td>
			                          </tr>
			                          <tr>
			                            <td align="left">Total cash:</td>
			                            <td align="right" valign="middle"><%= current_user.cash_amount.round(2) %></td>
			                          </tr>                      
			                          <tr>
			                            <td align="left">Account value:</td>
			                            <td align="right" valign="middle" class="summationline"><%= current_user.total_amount.round(2) %></td>
			                          </tr>
			                      </tbody>
			                  </table>
			                </div>
			              </article>
            			<% end %>  
		        	</article>

			        <article class="grid_2" style="margin:0">
			          <p><strong>Arbitration date:</strong><br><%= @contract.market.arbitration_date %></p>
			          <p><strong>Category:</strong><br><%= @contract.market.category %></p>
			        </article>
			    </article>
      		</div>
    	</section>
  	</div>
</div>

