<% provide(:title, 'Contracts') %>
<div class="hireus_block">
  	<div class="container_12">
    	<section class="">
      		<div class="wrapper">
				<!--<p id="notice"><%= notice %></p> -->

				<p>
				  <strong>Name:</strong>
				  <%= @contract.name %>
				</p>

				<p>
				  <strong>Current price:</strong>
				  <%= @contract.current_price %> €
				</p>

				<br>
        		<% if signed_in? && current_user.admin? %>
					<%= link_to 'Edit', edit_contract_path(@contract) %> |
				<% end %>
				<%= link_to 'Back to Forecasts', markets_path(@market) %>
			</div>
		</section>
	</div>
</div>

