<% provide(:title, "Edit user") %>
<div class="block2">
  <div class="container_12">
    <section class="content">
      <div class="wrapper">
        <article class="grid_12">
          <div class="hello_box"> Update your profile  </div>
          <div align="left">
            <%= gravatar_for @user %>
            <a href="http://gravatar.com/emails">change</a>
          </div>  <br>        
          <%= form_for(@user) do |f| %>
            <ul id="homehireus" class="hireform contactform">
              <%= render 'shared/error_messages', object: f.object %><br>
              <li>
                <label>Name:<span tabindex="1"></span></label>
                <%= f.text_field :name %>
              </li>
              <li>
                <label>Password:<span tabindex="3"></span></label>
                <%= f.password_field :password %>
              </li>
              <li>
                <label>Password <br> confirmation:<span tabindex="4"></span></label>
                <%= f.password_field :password_confirmation %><br>
              </li>
              <%= f.submit "Save changes", class: "button" %>
            </ul>
          <% end %>
        </article>
      </div>
    </section>
  </div>
</div>
