<% provide(:title, 'Leaderboard') %>
<div class="block2">
  <div class="container_12">
    <section class="content">
      <div class="wrapper projects">
        <div class="hello_box"> Leaderboard</div>
          <article class="grid_10">
            <ol id="positions">
              <ol id="positions">
                <li class="posotion_group">
                  <table class="headertable">
                    <% if !@users.blank? %>
                      <thead>
                        <tr>
                          <th><h4>Position</h4></th>
                          <th><h4>Username</h4></th>
                          <th><h4>Total Value</h4></th>
                          <% if current_user.admin? %>
                            <th><h4>Settings</h4></th>
                          <%end%>
                        </tr>
                      </thead>
                    <% end %> 
                    <tbody class="you">
                      <% @users.each_with_index do |user, i| %>
                        <tr>
                          <td style="width:60px"><%= user.rank %></td>
                          <td class="prediction" ><%= user.name %></td>
                          <td class="prediction"><%= "%0.2f" % (100 * user.worth) %> </td>
                          <% if current_user.admin? %>
                            <td>
                              <%= link_to "delete", user, method: :delete, data: { confirm: "Are you sure?" } %>
                            </td>
                          <% end %> 
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </li>
              </ol>
            <%= will_paginate(@users, :renderer => WillPaginate::ActionView::LinkRenderer) %>
          </article>
          <article class="grid_2">
            <% if current_user.admin? %>
              <h2><%= link_to 'New User', new_user_path, :class => "one" %></h2>
            <% end %>
          </article>
      </div>
    </section>
  </div>
</div>
