<% provide(:title, 'Sign up') %>
<div class="block2">
  <div class="container_12">
    <section class="content">
      <div class="wrapper">
        <article class="grid_12 last-col">
          <div class="hello_box"> Sign up and become a member of Policy Oracle  </div>
        </article>

          <article class="grid_12">
            <p> Get 200 points and start making predictions</p>
            <%= form_for(@user) do |f| %>
              <ul id="homehireus" class="project-filter">

                <%= render 'shared/error_messages', object: f.object %> <br>
                <li>
                  <label style="width:100px">Name:<span class="required" tabindex="1">*</span></label>     
                  <%= f.text_field :name %>
                </li>
                <li>
                  <label style="width:100px">Email:<span class="required" tabindex="1">*</span></label>     
                  <%= f.text_field :email %>
                </li>
                <li>
                  <label style="width:100px">Password:<span class="required" tabindex="1">*</span></label>
                  <%= f.password_field :password %>
                </li>
                <li>
                  <label style="width:100px">Password <br>Confirmation:<span class="required" tabindex="1">*</span></label>
                  <%= f.password_field :password_confirmation %> 
                </li>

                <br>
                <li style="margin-left:100px">
                  <%= f.submit "Create my account", class: "btn-sample" %>
                </li>
              </ul>
            <% end %>
          </article>
      </div>
    </section>
  </div>
</div>
