<% provide(:title, @user.name) %>
<div class="block2">
	<div class="container_12">
  	<section class="">
  		<div class="wrapper">
  			<div class="user_performance">
  				<ul>
  					<li class="first">
              <%= gravatar_for @user %>
              <h1><%= @user.name %></h1>
            </li>
            <li>
  						<div class="subheaders1">Available Points</div>
  						<h1><%= "%0.2f" % (100*@user.cash_amount) %></h1>
			        <table class="prerformancecontent">
			          <tbody>
			            <tr>
			              <td align="left">Current holdings:</td>
			              <td align="right" valign="middle">
                      <% @current_holdings = 0 %> 
                      <% @user.holdings.each do |holding| %>
                        <% if holding.contract.market.status == true %>
                          <% @cost = (-holding.contract.market.b_value*Math.log((holding.contract.current_price*(Math.exp((-holding.quantity)/holding.contract.market.b_value)-1))+1)) %>
                          <% @current_holdings += @cost.round(4) %>
                        <% end %>
                      <% end %>

                      <%= "%0.2f" % (100*@current_holdings) %></td>
		              </tr>
		              <tr>
			              <td align="left">Available points:</td>
			              <td align="right" valign="middle"><%= "%0.2f" % (100*@user.cash_amount) %></td>
		              </tr>						           
		              <tr>
			              <td align="left">Total value:</td>
			              <td align="right" valign="middle" class="summationline"><%= "%0.2f" % (@user.total_amount =
                                  100*@current_holdings +  100*@user.cash_amount) %></td>
		              </tr>
			          </tbody>
			        </table>
			      </li>
				    <li>
				    	<div class="subheaders1">Rank</div>
    					<h1><%= @user.rank %> of <%= User.count %></h1>
    				</li>
  				</ul>
		    </div>
  		</div>
  	</section>
	</div>
</div>
<% if @visible_transactions == 1 %>
  <div class="hireus_block">
    <div class="container_12">
      <section class="">
        <div class="wrapper">
          <div id="proftab">
            <ul class="nav nav-tabs">
              <li class="active"> <a href="my_orders" data-target="#my_orders" data-toggle="tab">Current Holdings</a></li>
              <li><a href="#trade_history" data-target="" data-toggle="tab">Trade History</a></li>
              <li><a href="#balance_history" data-target="" data-toggle="tab">Balance History</a></li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane active fade in" id="my_orders"><%= render partial: 'shared/holdings' %></div>
            <div class="tab-pane" id="trade_history"><%= render partial: 'shared/utransactions' %></div>
            <div class="tab-pane" id="balance_history"><%= render partial: 'shared/bhistories' %></div>
          </div>
        </div>
      </section>
    </div>
  </div>
<% end %>


