<% provide(:title, @user.name) %>
<div class="hireus_block">
  	<div class="container_12">
    	<section class="">
      		<div class="wrapper">
      			<div class="user_performance">
      				<ul>
      					<li class="first">
      						<div class="subheaders1">Cash Available</div>
      						<h1><%= @user.cash_amount.round(2) %></h1>
					        <table class="prerformancecontent">
					          	<tbody>
						            <tr>
						                <td align="left">Investement amount:</td>
						                <td align="right" valign="middle"><%= @user.investment_amount.round(2) %></td>
					                </tr>
					                <tr>
						                <td align="left">Total cash:</td>
						                <td align="right" valign="middle"><%= @user.cash_amount.round(2) %></td>
					                </tr>						           
					                <tr>
						                <td align="left">Account value:</td>
						                <td align="right" valign="middle" class="summationline"><%= @user.total_amount.round(2) %></td>
					                </tr>
					          	</tbody>
					        </table>
					    </li>
					    <li>
					    	<div class="subheaders1">Rank</div>
      						<h1><%= @user.rank%> of <%= User.count %></h1>
      					</li>
      				</ul>

				</div>
      		</div>
    	</section>
  	</div>
</div>
