<ol id="positions">
  <li class="posotion_group">
    <table class="headertable">
      <% if !@bhistories.blank? %>
        <thead>
          <tr>
            <th><h4>EXPIRED QUESTION</h4></th>
            <th><h4>ASSET NAME</h4></th>
            <th><h4>YOU EARNED/LOST</h4></th>
            <th><h4>EXPIRED DATE</h4></th>
          </tr>
        </thead>
      <% end %> 
      <tbody class="you">
        <% @bhistories.each do |bhistory| %>
          <tr>
            <td style="text-transform: none;"><%= link_to bhistory.contract.market.name, bhistory.contract.market, :class => "three" if bhistory.contract %></td>
            <td class="prediction" style="text-transform: none;"><%= bhistory.contract.name if bhistory.contract %></td>
            <td class="answered"> 
              <% if bhistory.profit != 0 %>
                <h4 style="color:#018311; display: inline;"><%= "%0.2f" % (100 * bhistory.profit.round(4)) %> points</h4> </td>
              <% else %>
                <h4 style="color:#bd1902">-<%= "%0.2f" % (100 * bhistory.loss.round(4)) %> points</h4></td>
              <% end %>
            <td ><%= bhistory.created_at.to_date.to_s%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </li>
</ol>
<%= will_paginate(@bhistories, :renderer => WillPaginate::ActionView::LinkRenderer) %>