<ol id="positions">
  <% @markets_group.each do |m| %>
    <% id = m.market_id %>
    <% @market = Market.find(id) %>
    <% if @market.status == true %>
      <h2 style="text-transform: none;"><%= link_to @market.name, @market, :class => "three" %></h2>
      <li class="posotion_group">
        <table class="headertable">
          <thead>
            <th class="answered"><h4>ASSET NAME</h4></th>
            <th class="price"><h4>CURRENT PRICE/PROBABILITY</h4></th>
            <th class="value"><h4>AVERAGE COST</h4></th>
            <th class="details"><h4># SHARES</h4></th>
            <th class="value"><h4>CURRENT VALUE</h4></th>
            <th class="answered"><h4>CURRENT PROFIT/LOSS</h4></th>
          </thead>
        </table>
      </li>
      <% @holdings.each do |holding| %>
        <li class="posotion_group">
          <% if holding.market_id == @market.id %>
            <table class="headertable" style="margin-top:7px">
              <tbody>
                <tr>
                  <td class="answered">
                    <%= holding.contract.name if holding.contract %>
                  </td>
                  <td  class="price"><h4><%= "%0.2f" % (100*holding.contract.current_price.round(4) if holding.contract
                  )%></h4></td>
                  <td class="value"><h4><%= "%0.2f" % (100*holding.amount_spent / holding.quantity).round(4) %></h4></td>
                  <td class="details"><h4><%= holding.quantity %></h4></td> 
                  <td class="value"><h4> <% @cost = (-holding.contract.market.b_value*Math.log((holding.contract
                  .current_price*(Math.exp((-holding.quantity)/holding.contract.market.b_value)-1))+1)) %> <%= "%0.2f" % (100 * @cost.floor2(4)) %></h4></td>
                  <td class="answered"><h4>
                   
                    <% @diff = @cost - holding.amount_spent %>
                      <% if @diff.round(3) > 0 %>
                        <%= image_tag "up-small.png"%> <%= "%0.2f" % (100 * @diff.round(4)) %>
                      <% elsif @diff.round(3) < 0  %>
                        <%= image_tag "down-small.png"%><%= "%0.2f" % (100 * @diff.round(4).abs) %>
                      <% elsif @diff.round(3) == 0  %> 0
                      <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="headertable">
              <thead>
                <th></th>
                <th></th>
              </thead>
              <tbody>
                <td class="sell" style="border-top: none;border-left:solid; border-color: #bbb;"> 
                  <h4 style="font-size: 14px">
                  <% @diff = @cost - holding.amount_spent %>
                  <% if @diff.round(3) > 0 %>
                    <%= 100*@diff.round(4) %> points profit,
                  <% elsif @diff.round(3) < 0  %>
                    <%= 100*@diff.abs.round(4) %> points loss,
                  <% elsif @diff.round(3) == 0  %> 
                    0 points profit,
                  <% end %> if you
                  <%= link_to'Sell', utransactions_path(:utransaction => { :transaction_type => "S", :user_id => current_user.id, :contract_id => holding.contract_id, :quantity => holding.quantity, :contract_current_value => holding.contract.current_price}), method: :post, data: { confirm: 'Are you sure?' } %> now </h4>
                </td>
                <td class="correct" style="border-top: none;">
                  <h4 style="font-size: 14px">If your prediction is correct, your profit will be <%="%0.2f" % (100*(holding.quantity - holding.amount_spent)) %> points </h4>
                </td>
              </tbody>
            </table>
          <% end %>
        </li>
      <% end %>
      <h5 class="market_info">Closes: <%= @market.arbitration_date %></h5>
      <br>
    <% end %>
  <% end %>
<ol>
<%= will_paginate(@holdings, :renderer => WillPaginate::ActionView::LinkRenderer) %>
