<div class="hireus_block">
  <div class="container_12">
    <section class="">
      <div class="wrapper">
        <div class="hello_box"> My Orders (<%= @holdings.count %>) </div>
        <% @holdings.each do |holding| %>
          <ol id="positions">
            <li class="posotion_group">
              <h2><%= link_to holding.contract.market.name, holding.contract.market, :class => "three" %></h2>
              <table class="headertable">
                <thead>
                  <tr>
                    <th><h4>YOUR PREDICTION </h4></th>
                    <th><h4>CURRENT PROFIT/LOSS</h4></th>
                    <th><h4>CROWD PREDICTION</h4></th>
                    <th><h4>SHARES </h4></th>
                    <th><h4>YOU'VE SPENT </h4></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="answered"><%= holding.contract.name if holding.contract %><br>
                      <% @avg_price = holding.amount_spent / holding.quantity %>
                      <% if holding.contract.market.status == true %>
                        <%= link_to 'Cash Out',  utransactions_path(:utransaction => { :utransaction_type => "S", :user_id => holding.user_id, :contract_id => holding.contract_id, :quantity => holding.quantity, :contract_current_value => @avg_price}), method: :post, data: { confirm: 'Are you sure?' } %>
                      <% end %>
                    </td>
                    <td class="answered"><%= %></td>
                    <td  class="answered"><h4><%= holding.contract.current_price.round(4)*100 if holding.contract %>%</h4></td> 
                    <td class="details"><h4><%= holding.quantity %></h4></td> 
                    <td class="answered2"><%= holding.amount_spent %><h4><%=  %></h4></td> 
                  </tr>
                </tbody>
              </table>
              <% if holding.contract.market.status == true %>
                <h5 class="market_info">Closes: <%= holding.contract.market.arbitration_date %></h5>
              <% else %>
                <h6 class="market_info">Closed: <%= holding.contract.market.arbitration_date %></h6>
              <%end%>
            </li>
            <br>
          <ol>
        <% end %>
        <%= will_paginate(@holdings, :renderer => WillPaginate::ActionView::LinkRenderer) %>
      </div>
    </section>
  </div>
</div>