<%= form_for Holding.new do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
  	<div class="field">
    	<%= f.number_field :quantity, placeholder: "Place bet quantity ..." %>
  	</div>
  	<%= f.submit "Buy", name: 'buy_button', class: "btn btn-small btn-success" %>
  	<%= f.submit "Sell", name: 'sell_button', class: "btn btn-small btn-danger" %>
<% end %>