<%= form_for Micropost.new do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new comment...", :cols => "30", :rows => "5" %>
  </div>
  <%= f.hidden_field :user_id, 		:value => current_user.id %>
  <%= f.hidden_field :market_id, 	:value => market_id %>
  <%= f.submit "Post", class: "button button-large" %>
<% end %>