<%= form_for Utransaction.new, :html => {:class =>"form-inline"} do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<ul style="text-align: center">

    	<li>Invest <%= f.text_field :quantity, :class => "input-mir"%> shares </li> 

    	<li style="margin-top:20px;"><%= f.submit :value => "Buy", :name => 'utransaction[transaction_type]', class: "button large"%></li>
    </ul>
    <%= f.hidden_field :user_id, 				:value => current_user.id %>
    <%= f.hidden_field :contract_id, 			:value => contract.id %>
    <%= f.hidden_field :contract_current_value, :value => contract.current_price %>
<% end %>
