<%= form_for Utransaction.new, :html => {:id => "form-contract-#{contract.id}", :class =>"contract-form form-inline"} do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
    <div class="grid_1 check_action">
        <%= f.radio_button :transaction_type, 'Buy', :checked => true %> 
        <%= label :transaction_type, 'Buy', :value => 'Buy' %>
        <%= f.radio_button :transaction_type, 'Sell' %>
        <%= label :transaction_type, 'Sell', :value =>'Sell' %>
    </div>
    <div class="grid_2 shares_quantity">
	   <%= f.text_field :quantity, :id => "contract_id" + contract.id.to_s, :value => 0, :class => "quantity input-mini", :style => "width:40px; text-align:center"%> shares 
    </div>
    <div class="grid_1 confirm_transaction">
        <%= f.submit 'Confirm', class: "btn-sample transaction_button" %>
    </div>
    <%= f.hidden_field :user_id, 				:value => current_user.id %>
    <%= f.hidden_field :contract_id, 			:value => contract.id %>
    <%= f.hidden_field :contract_current_value, :value => contract.current_price %>
<% end %>



