<ol id="positions">
  <li class="posotion_group">
    <table class="headertable">
      <% if !@utransactions.blank? %>
        <thead>
          <tr>
            <th><h4>QUESTION</h4></th>
            <th><h4>ASSET NAME</h4></th>
            <th><h4># SHARES</h4></th>
            <th><h4>AMOUNT SPENT/GAINED</h4></th>
            <th><h4>TRANSACTION DATE</h3></th>
          </tr>
        </thead>
      <% end %> 
      <tbody class="you">
        <% @utransactions.each do |utransaction| %>
          <tr>
            <td  style="text-transform: none;"><%= utransaction.contract.market.name if utransaction.contract %></td>
            <td class="prediction"><%= utransaction.contract.name if utransaction.contract %></td>
            <td class="details history"><%= utransaction.quantity %><% if utransaction.transaction_type == 'B'%> bought
                <% else %> sold
                <% end %>
            </td>
            <td class="answered"><%= utransaction.cost.round(2) if utransaction.contract %> points</td>
            <td><%= utransaction.created_at.to_date.to_s%></td>
          </tr>
          
        <% end %>
      </tbody>
    </table>
  </li>
</ol>
<%= will_paginate(@utransactions, :renderer => WillPaginate::ActionView::LinkRenderer) %>