<% provide(:title, 'Trading History') %>
<div class="hireus_block">
  <div class="container_12">
    <section class="">
      <div class="wrapper">
        <div class="hello_box"> My Tradings (<%= @utransactions.count %>) </div>
        <ol id="positions">
          <li class="posotion_group">
            <table class="headertable">
              <% if !@utransactions.blank? %>
                <thead>
                  <tr>
                    <th><h4>Question</h4></th>
                    <th><h4>Your Prediction</h4></th>
                    <th><h4>You've Spent/Gained</h4></th>
                    <th><h4>Shares</h4></th>
                    <th><h4>Cost Per Share</h3></th>
                    <th><h4>Transaction Date</h3></th>
                  </tr>
                </thead>
              <% end %> 
              <tbody class="you">
                <% @utransactions.each do |utransaction| %>
                  <tr>
                    <td><%= utransaction.contract.market.name if utransaction.contract %></td>
                    <td class="prediction"><%= utransaction.contract.name if utransaction.contract %></td>
                    <td class="details_prob">
                      <% @contract_id = utransaction.contract_id %>
                      <% if utransaction.transaction_type == "B" %>
                        - <%=  utransaction.cost %></td>
                      <% elsif utransaction.transaction_type == "S" %>
                        TRANSACTION TYPE:  <%= utransaction.transaction_type %>
                        <% @holdings.each do |holding| %>
                          FOUND HOLDINGS
                          <% if holding.contract_id == @contract_id %>
                            FOUND A HOLDING
                            <% if (holding.amount_spent - utransaction.cost * utransaction.quantity) > 0 %>
                              + <%=  holding.amount_spent - utransaction.cost %></td>
                            <% else %>
                              + <%=  utransaction.cost - holding.amount_spent %></td>
                            <% end %>
                          <% end %>
                        <% end %>
                      <% end %>
                    </td>
                    <td class="details history"><%= utransaction.quantity %><% if utransaction.transaction_type == 'B'%> bought
                        <% else %> sold
                        <% end %>
                    </td>
                    <td class="prediction"><%= (utransaction.cost / utransaction.quantity).round(2) %></td>
                    <td><%= utransaction.created_at.to_date.to_s%></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </li>
        </ol>
        <%= will_paginate(@utransactions, :renderer => WillPaginate::ActionView::LinkRenderer) %>
      </div>
    </section>
  </div>
</div>