<% provide(:title, 'Trading History') %>
<div class="hireus_block">
  <div class="container_12">
    <section class="">
      <div class="wrapper">
        <h2>My Tradings (<%= @utransactions.count %>)</h2>
        <%= will_paginate %>
        <table class="table">
          <thead>
            <tr>
              <th>Prediction </th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @utransactions.each do |utransaction| %>
              <tr>
                <td><%= utransaction.contract.name %></td>
                <td><%= utransaction.contract_current_value %></td>
                <td><%= utransaction.quantity %></td>
                <td><% if utransaction.transaction_type == 'B'%> Buyed
                    <% else %> Sold
                    <% end %>
                </td> 
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate %>

      </div>
    </section>
  </div>
</div>