<% provide(:title, 'Bank History') %>
<div class="hireus_block">
  <div class="container_12">
    <section class="">
      <div class="wrapper">
        <div class="hello_box"> Bank History (<%= @bhistories.count %>) </div>
        <ol id="positions">
          <li class="posotion_group">
            <table class="headertable">
              <% if !@bhistories.blank? %>
                <thead>
                  <tr>
                    <th><h4>Question</h4></th>
                    <th><h4>Your Prediction</h4></th>
                    <th><h4>Profit/Loss</h4></th>
                    <th><h4>Question Expired</h4></th>
                  </tr>
                </thead>
              <% end %> 
              <tbody class="you">
                <% @bhistories.each do |bhistory| %>
                  <tr>
                    <td><%= bhistory.contract.market.name if bhistory.contract %></td>
                    <td class="prediction"><%= bhistory.contract.name if bhistory.contract %></td>
                    <td class="prediction"> 
                      <% if bhistory.profit != 0 %>
                        <%= image_tag "up-small.png"%> <%=bhistory.profit %></td>
                      <% else %>
                        <%= image_tag "down-small.png"%> -<%=bhistory.loss %></td>
                      <% end %>
                    <td><%= bhistory.created_at.to_date.to_s%></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </li>
        </ol>
        <%= will_paginate(@bhistories, :renderer => WillPaginate::ActionView::LinkRenderer) %>
      </div>
    </section>
  </div>
</div>
