<%= form_for(@market) do |f| %>
  <% if @market.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@market.errors.count, "error") %> prohibited this market from being saved:</h2>

      <ul>
      <% @market.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <td><%= f.radio_button(:category, 'Economics') %> Economics
    <td><%= f.radio_button(:category, 'Politics') %> Politics
    <td><%= f.radio_button(:category, 'Environment') %> Environment
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :published_date %><br>
    <%= f.datetime_select :published_date %>
  </div>
  <div class="field">
    <%= f.label :arbitration_date %><br>
    <%= f.datetime_select :arbitration_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
