<div>
	<% if market.status? %>
    	<h3 class="no_capital"><%= link_to market.name, market, :class => "three" %></h3>
    	<%= link_to "TRADE NOW", market, :class => "five" %>
    <% else %>
    	<h3 class="no_capital"><%= link_to market.name, market, :class => "three" %></h3><h6> Expired</h6>
    <% end %>
    <a class="small secondary message_button six" id="contracts_container_link<%=market.id%>" href="#" onclick="window.toggle_show_contracts(<%=market.id%>); return false;">SHOW ANSWERS</a>
    <div id="contracts_container<%=market.id%>" class="hidden">
    	<div class="row">
	    	<% if market.status? %>
		    	<div class="grid_3"  >
		    		<h4 class="show_headings">Asset Name</h4>
		    	</div>
		    	<div class="grid_3"  >
		    		<h4 class="show_headings">Price/Probability</h4>
		    	</div>
		    <% else %>
		    	<div class="grid_3"  >
		    		<h4 class="show_headings">Correct Answer</h4>
		    	</div>
		    	<div class="grid_3"  >
		    		<h4 class="show_headings">Price/Probability</h4>
		    	</div>
			<% end %>
		</div>
        <%= render market.contracts %>
		<br>
    </div>
</div>
