<div>
	<% if market.status? %>
    	<h3 class="no_capital"><%= link_to market.name, market, :class => "three" %></h3>
    	<%= link_to "TRADE NOW", market, :class => "five" %>
    <% else %>
    	<h3 class="no_capital"><%= link_to market.name, market, :class => "three" %></h3><h6> Expired</h6>
    <% end %>
    <a class="small secondary message_button six" id="contracts_container_link<%=market.id%>" href="#" onclick="window.toggle_show_contracts(<%=market.id%>); return false;">SHOW ANSWERS > </a>
    <div id="contracts_container<%=market.id%>" class="hidden">
    	<% if market.status? %>
	    	<div class="grid_3"  >
	    		<p style="margin-top:0; margin-bottom:0; font-size:13px;">Asset Name</p>
	    	</div>
	    	<div class="grid_3"  >
	    		<p style="margin-top:0; margin-bottom:0; font-size:13px;">Price/Probability</p>
	    	</div>
	    <% else %>
	    	<div class="grid_3"  >
	    		<p style="margin-top:0; margin-bottom:0; font-size:13px;"> Correct Answer</p>
	    	</div>
	    	<div class="grid_3"  >
	    		<p style="margin-top:0; margin-bottom:0; font-size:13px;">Price/Probability</p>
	    	</div>
		<% end %>
        <%= render market.contracts %>
    </div>
</div>
