<div>
	<% if market.status? %>
    	<h3 style="text-transform: none;"><%= link_to market.name, market, :class => "three" %></h3>
    <% else %>
    	<h3 style="text-transform: none;"><%= link_to market.name, market, :class => "three" %></h3><h6> Expired</h6>
    <% end %>
    <a class="small secondary message_button" style="background-color" id="contracts_container_link<%=market.id%>" href="#" id="message_button_" onclick="window.toggle_show_contracts(<%=market.id%>); return false;">show answers</a>
    <div id="contracts_container<%=market.id%>" class="hidden">
    	<% if market.status? %>
	    	<div class="grid_3"  >
	    		<p style="margin-top:0; margin-bottom:0; font-size:13px;"> Possible Answer</p>
	    	</div>
	    	<div class="grid_3"  >
	    		<p style="margin-top:0; margin-bottom:0; font-size:13px;"> Current Prediction</p>
	    	</div>
	    <% else %>
	    	<div class="grid_3"  >
	    		<p style="margin-top:0; margin-bottom:0; font-size:13px;"> Correct Answer</p>
	    	</div>
	    	<div class="grid_3"  >
	    		<p style="margin-top:0; margin-bottom:0; font-size:13px;"> Prediction Probability</p>
	    	</div>
		<% end %>
        <%= render market.contracts %>
    </div>
</div>
