<% provide(:title, 'Forecasts') %>
<div class="block2">
  <div class="container_12">
    <section class="content">

      <div class="wrapper">
        <article class="grid_10 last-col">
          <div class="hello_box">  <%=  @market.name  %></div>
        </article>

          <article class="grid_2 last-col">
            <% if signed_in? && current_user.admin? && @market.status? %>
              <h3><%= link_to 'Market Closure', close_market_path(@market), :class => "one" %></h3>
            <%elsif @market.status == false%>
              <h3>Market Expired</h3>
            <% end %>
          </article>
      </div>


      <div class="wrapper">
        <article class="grid_12">
          <article class="grid_10">
            <% if @market.contracts.count == 2 %>
              <article class="grid_7">
                <div id="tabs" >
                  <ul>
                    <% @contracts.each do |contract| %>   
                      <li class="feature-binary-left"><%= "#{contract.name} #{contract.current_price.round(4)*100}" %>%</li> 
                    <% end %><br>
                  </ul>
                </div>
                <br>
                <% if @market.status? %>
                  <p id="center"> Modify the chances if you have a different opinion <br>by investing or changing your investments on the different outcomes </p>
                <%end%>
                <div class="trade_interface">
                  <% if @market.status? %>
                    <table>
                      <tbody class="transaction">
                        <% @contracts.each do |contract| %>
                          <tr>
                            <td>Invest in</td>
                            <td><%= contract.name %></td>
                            <% if signed_in?%>
                                <td align="left"><%= render partial: 'shared/utransaction_form', :locals => { :contract => contract} %></td>
                            <% end %>
                            
                            <% if signed_in? && current_user.admin? %>
                              <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
                              <td><%= link_to 'Delete', contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                            <% end %>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  <%end%>
                </div>
              </article>
            <% else %>
              <article class="grid_7">
                <%= render "contracts/mchoice.contract" %>
              </article>
            <% end %>
            <% if signed_in? && @market.status?%>
              <article class="grid_3" style="margin:0">
                <div id="list">
                  <ul>
                    <li style="text-align:left">Cash amount: <%= current_user.cash_amount.round(2) %></li>
                    <li style="text-align:left">Total amount: <%= current_user.total_amount.round(2) %></li>
                  </ul>
                </div>
              </article>
            <% end %>
          </article>

          <article class="grid_2" style="margin:0">
            <p><strong>Question Ends:</strong><br><%= @market.arbitration_date %></p>
            <p><strong>Category:</strong><br><%= @market.category %></p>
          </article>
        </article>

        <article class="grid_12">
          <div class="post">
            <div class="comments">
              <h2>Discussion</h2>
              <%= render 'shared/micropost_form', market_id: @market.id, user_id: current_user %>
              <%= render :partial => @microposts %>
              <%= will_paginate(@microposts, :renderer => WillPaginate::ActionView::LinkRenderer) %>
            </div>
          </div>

          <div class="post">
            <h2>Historical Trend</h2>
            <chart></chart>
          </div>
          <div class="post">
            <h2>Background Information</h2>
            <p><%= @market.description %></p>
          </div>

          <ul class="blog_pagination">
            <%= link_to 'Back to Forecasts', markets_path, :class => "one" %> 
            <% if signed_in? && current_user.admin? && @market.status? %>
              | <%= link_to 'New Contract', new_market_contract_path(@market) %> 
              | <%= link_to 'Edit', edit_market_path(@market) %> 
              | <%= link_to 'Delete', @market, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </ul>
        </article>
      </div>
    </section>
  </div>
</div>

