<% provide(:title, 'Forecasts') %>
<div class="block2">
  <div class="container_12">
    <section class="content">

      <div class="wrapper">
        <article class="grid_12 last-col">
          <div class="hello_box">  <%=  @market.name  %></div>
        </article>
      </div>

      <div class="wrapper">
        <% @contracts.each do |contract| %>
          <article class="grid_4">
            <div class="feature">
              <% if contract.name == "YES" %>
                <div class="feature-binary-left blue"><%= "#{contract.name} #{contract.current_price.round(2)*100}" %>%</div>
              <%else%>
                <div class="feature-binary-right blue"><%= "#{contract.name} #{contract.current_price.round(2)*100}" %>%</div>
              <% end%>
            </div>
          </article>
        <% end %>     
        <br>

        <article class="grid_10">
          <p id="center"> Modify the chances if you have a different opinion <br>by investing or changing your investments on the different outcomes </p>

          <article class="grid_6">
            <table class="table table-hover">
              <thead>
                <tr class="transaction">
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>  
                  <th></th>              
                </tr>
              </thead>
              <tbody>
                <% @contracts.each do |contract| %>
                  <tr >
                    <td width="20%">Invest in</td>
                    <td class="feature-binary-small blue" width="10%"><%= contract.name %></td>
                    <% if signed_in?%>
                        <td align="right"><%= render partial: 'shared/utransaction_form', :locals => { :contract => contract} %></td>
                    <% end %>
                    
                    <% if signed_in? && current_user.admin? %>
                      <td width="10%"><%= link_to 'Edit', edit_contract_path(contract) %></td>
                      <td width="10%"><%= link_to 'Delete', contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <ul class="blog_pagination">
              <%= link_to 'Back to Forecasts', markets_path, :class => "one" %> 
              <% if signed_in? && current_user.admin? %>
                | <%= link_to 'New Contract', new_market_contract_path(@market) %> 
                | <%= link_to 'Edit', edit_market_path(@market) %> 
                | <%= link_to 'Delete', @market, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </ul>
          </article>

          <% if signed_in? %>
            <article class="grid_3">
              <div id="list">
                <ul>
                  <li>Cash amount: <%= current_user.cash_amount.round(2) %></li>
                  <li>Total amount: <%= current_user.total_amount.round(2) %></li>
                </ul>
              </div>
            </article>
          <% end %>
        </article>

        <article class="grid_2">
          <p><strong>Arbitration date:</strong><br><%= @market.arbitration_date %></p>
          <p><strong>Category:</strong><br><%= @market.category %></p>
        </article>

      </div>
    </section>
  </div>
</div>

