<% provide(:title, 'Question') %>
<div class="block2">
  <div class="container_12">
    <section class="content">
      <div class="wrapper">
        <% if signed_in? && current_user.admin? && @market.status? %>
          <div class="grid_9 last-col">
            <div class="hello_box">  <%=  @market.name  %></div>
          </div>
          <% if @market.status? %>
            <div class="grid_3 last-col">
              <h3><%= link_to 'Close this Question', close_market_path(@market), :class => "one" %></h3>
            <% elsif @market.status == false %>
              <h3>Market Expired</h3>
            </div>
          <% end %>
        <% elsif signed_in? %>
          <div class="grid_12 last-col">
            <div class="hello_box">  <%=  @market.name  %></div>
          </div>
        <% else %>
          <div class="grid_12 last-col">
            <h4 style="margin-bottom:30px; margin-top:0px;"><%= link_to "Sign Up", signup_path, :class => 'one' %> in order to make your predictions and leave your comments </h4>
            <div class="hello_box">  <%=  @market.name  %></div>
          </div>
        <% end %>
      </div>

      <div class="wrapper">
        <div class="grid_12">
          <div class="grid_9">
            <% if @market.market_type == "Yes/No" %>
                <%= render "contracts/yesno.contract" %>
            <% elsif @market.market_type == "Multiple Choices" %>
              <div class="grid_5">
                <div class="grid_3">
                  <p> Possible Answers </p>
                </div>
                <div class="grid_2" style="margin:0">
                  <p> Price/Probability: </p>
                </div>

                <%= render "contracts/mchoice.contract" %>
              </div>
            <% end %>
            <% if signed_in? && @market.status?%>
              <% if @market.market_type == "Yes/No" %>
                <div class="grid_3" style="margin:0; background-color: #d6d9d2">
              <% elsif @market.market_type == "Multiple Choices" %>
                <div class="grid_4" style="margin:0; background-color: #d6d9d2">
              <% end %>
                <div id="list">
                  <h1 style="margin-top:0; font-size:21px;"> Your portfolio</h1>
                  <table class="prerformancecontent" style="margin:0; ">
                    <tbody>
                      <tr>
                        <td align="left">Available points:</td>
                        <td align="right" valign="middle"><%= current_user.cash_amount.round(2) %></td>
                      </tr>
                      <% @contracts.each do |contract| %>
                        <% contract.holdings.each do |holding| %>
                          <% if holding.user_id == current_user.id %>
                            <tr>
                              <td align="left">You hold:</td>
                              <td align="right" valign="middle" ><%= holding.quantity %> shares of 
                                <%= contract.name %>
                              </td>
                            </tr>
                          <% end %>
                        <% end %>
                      <% end %>
                      </tbody>
                  </table>
                </div>
                <% if @market.market_type == "Yes/No" %>
                  <!--div id="trade_help" style="margin-top:5px; color:red;">
                    <span>Specify where you want to invest and press the buy button!</span>
                  </div!-->
                  
                  <div id="trade_details" style="margin-top:5px; color:green; display:none">
                    <span>The details of your transaction:</span>
                  </div>
                  <div id="trade_info" style="display:none">
                    <div id="price_per_share">Price per share: 1</div>
                    <div id="points_needed">Points needed: 100</div>
                    <div id="points_available_after">Points available after: 200</div>
                    <div id="shares_buying">You will be buying 2 shares</div>
                  </div>
                <% else %>
                  <div style="margin-top:5px; color:red;">
                    <span>Click on where you want to invest </span>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="grid_3" style="margin:0">
            <% if @market.status? %>
              <p><strong>You can play until:</strong><br><%= @market.arbitration_date %></p>
            <% else %>
             <p style="color:#ec2624"><strong>Question Expired:</strong><br><%= @market.arbitration_date %></p>
            <% end %>
            <p><strong>Category:</strong><br><%= @market.category %></p>
            <p><strong>Tags:</strong><br><%= @market.tags %></p>
            <p><strong>Number of Transactions:</strong><br><%= @utransactions_all.count %></p>
            <p><strong>Latest Transactions:</strong><br>
                <% @utransactions_latest.each do |utransaction| %>
                  <% if utransaction.transaction_type == "B" %>
                    "<%= "#{utransaction.contract.name}" %>" raised
                    <%= (utransaction.contract_new_value - utransaction.contract_current_value).round(2)%> <br>
                  <% elsif utransaction.transaction_type == "S" %>
                    "<%= "#{utransaction.contract.name}" %>" descreased
                    <%= (utransaction.contract_new_value - utransaction.contract_current_value).abs.round(2) %> <br>
                  <% end %>
                <% end %>
            </p>
          </div>
        </div>

        <div class="grid_12">
          <div class="post">
            <div class="comments">
              <h2>Discussion</h2>
              <% if signed_in?%>
                <%= render 'shared/micropost_form', market_id: @market.id, user_id: current_user %>
              <% end %><br>
              <%= render :partial => @microposts %>
              <%= will_paginate(@microposts, :renderer => WillPaginate::ActionView::LinkRenderer) %>
            </div>
          </div>
        </div>

        <div class="grid_12">
          <div class="post">
            <h2>Predictions Trend</h2>
            <chart></chart>
            <script>
                $( document ).ready( function() {
                    d3.xhr( "/markets/<%=@market.id%>/graph_data", function( json ) {
                        console.log(json.response)
                        createChart(JSON.parse(json.response));
                    });
                });
            </script>
          </div>
          <div class="description">
            <h2>Background Information</h2>
            <p><%= @market.description.html_safe %></p>
          </div>

          <ul class="blog_pagination">
            <%= link_to 'Back to Questions', markets_path, :class => "one" %> 
            <% if signed_in? && current_user.admin? %>
              | <%= link_to 'Edit', edit_market_path(@market) %> 
              | <%= link_to 'Delete', @market, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>

