<% provide(:title, 'Question') %>
<div class="block2 no_padding_bottom">
  <div class="container_12">
    <section class="">
      <div class="wrapper">
        <% if signed_in? && current_user.admin? %>
          <div class="grid_9 last-col">
            <div class="hello_box no_padding_left">  <%=  @market.name  %></div>
          </div>
          <% if @market.status? %>
            <div class="grid_3 last-col">
              <ul>
                <li> <%= link_to 'Pause: Waiting to be Judged', hold_market_path(@market), method: :post, data: { confirm: 'Are you sure?' }, :class => "one" %> </li>
                <li> <%= link_to 'Close: Known Answer', close_market_path(@market), :class => "one" %></li>
                <li><%= link_to 'Edit', edit_market_path(@market) %> </li>
                <li><%= link_to 'Delete', @market, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </ul>
          <% elsif @market.correct_contract_id.blank? %>
            <div class="grid_3 last-col">
              <%= link_to 'Close: Known Answer', close_market_path(@market), :class => "one" %>
          <% end %>
          </div>
        <% elsif signed_in? %>
          <div class="grid_12 last-col">
            <div class="hello_box no_padding_left">  <%=  @market.name  %></div>
          </div>
        <% else %>
          <div class="grid_12 last-col">
            <h4 class="signup"><%= link_to "Sign Up", signup_path, :class => 'one' %> in order to make your predictions and leave your comments </h4>
            <div class="hello_box">  <%=  @market.name  %></div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
 <div class="block2 no_padding_top">
  <div class="container_12">
    <section class="">
      <div class="wrapper">
        
        <div class="collapse navbar-collapse bs-js-navbar-scrollspy">
          <ul class="nav nav-tabs">
            <li><a href="#discussion" class="gray">Discussion</a></li>
            <li><a href="#trend" class="gray">Trends</a></li>
            <li><a href="#info" class="gray">Background Information</a></li>
          </ul>
        </div>
        <div data-spy="scroll" data-target="#navbar-example">
          <div id="trading"><%= render partial: 'trading' %> </div>
          <div id="discussion"><%= render partial: 'discussion' %></div>
          <div id="trend"><%= render partial: 'trend' %></div>
          <div id="info"><%= render partial: 'info' %></div>
        </div>
        <a href="#" class="scrollToTop">Back to Top</a>
      </div>
    </section>
  </div>
</div>

