<% provide(:title, 'Question') %>
<div class="block2">
  <div class="container_12">
    <section class="content">

      <div class="wrapper">
        <article class="grid_9 last-col">
          <div class="hello_box">  <%=  @market.name  %></div>
        </article>

        <article class="grid_3 last-col">
          <% if signed_in? && current_user.admin? && @market.status? %>
            <h3><%= link_to 'Question Closure', close_market_path(@market), :class => "one" %></h3>
          <% elsif @market.status == false %>
            <h3>Market Expired</h3>
          <% end %>
        </article>
      </div>

      <div class="wrapper">
        <article class="grid_12">
          <article class="grid_9">
            <% if @market.contracts.count == 2 %>
              <article class="grid_6">
                <article class="grid_3" style="margin:0">
                  <% @contracts.each do |contract| %>   
                    <% if contract.name === "YES" %>
                      <ul style="text-align: center">
                        <li><%= image_tag "yes.png" %> </li>
                        <li style="color:#ebdf1b"><%= "#{contract.name}" %> </li>
                        <li style="margin-top:20px">Probability: 
                          <p3 style="font-size: 16px" id="current_price_<%= contract.id %>"><%= "#{contract.current_price.round(2)*100}" %>%</p3></li>
                      </ul>
                      <div class="trade_interface">
                        <% if @market.status? %>
                          <table class="trade_interface">
                            <tr>
                              <% if signed_in?%>
                                <td align="left"><%= render partial: 'shared/utransaction_form', :locals => { :contract => contract} %></td>
                              <% end %>
                            </tr>
                          </table>
                          <% if signed_in? && current_user.admin? %>
                            <p style="text-align: center"><%= link_to 'Edit', edit_contract_path(contract) %> |
                            <%= link_to 'Delete', contract, method: :delete, data: { confirm: 'Are you sure?' } %></p>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                </article>
                <article class="grid_3" style="margin:0">
                  <% @contracts.each do |contract| %>   
                    <% if contract.name === "NO" %>
                      <ul style="text-align: center">
                        <li><%= image_tag "no.png" %> </li>
                        <li style="color:#343c3a"><%= "#{contract.name}" %> </li>
                        <li style="margin-top:20px">Probability: 
                          <p3 style="font-size: 16px" id="current_price_<%= contract.id %>"><%= "#{contract.current_price.round(2)*100}" %>%</p3></li>
                      </ul>
                      <div class="trade_interface">
                        <% if @market.status? %>
                          <table>
                            <tr>
                              <% if signed_in?%>
                                <td align="left"><%= render partial: 'shared/utransaction_form', :locals => { :contract => contract} %></td>
                              <% end %>
                            </tr>
                          </table>
                          <% if signed_in? && current_user.admin? %>
                            <p style="text-align: center"><%= link_to 'Edit', edit_contract_path(contract) %> |
                            <%= link_to 'Delete', contract, method: :delete, data: { confirm: 'Are you sure?' } %></p>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                </article>
              </article>
            <% else %>
              <article class="grid_6">
                <article class="grid_2">
                  <p> Possible Answers </p>
                </article>
                <article class="grid_2" style="margin:0">
                  <p> Current Probability </p>
                </article>

                <%= render "contracts/mchoice.contract" %>
              </article>
            <% end %>
            <% if signed_in? && @market.status?%>
              <article class="grid_3" style="margin:0">
                <div id="list">
                  <table class="prerformancecontent">
                      <tbody>
                        <tr>
                            <td align="left">Invested points:</td>
                            <td align="right" valign="middle"><%= current_user.investment_amount.round(2) %></td>
                          </tr>
                          <tr>
                            <td align="left">Available points:</td>
                            <td align="right" valign="middle"><%= current_user.cash_amount.round(2) %></td>
                          </tr>                      
                          <tr>
                            <td align="left">Total points:</td>
                            <td align="right" valign="middle" class="summationline"><%= current_user.total_amount.round(2) %></td>
                          </tr>
                      </tbody>
                  </table>
                </div>
                <% if @market.contracts.count == 2 %>
                  <div id="trade_help" style="margin-top:5px; color:red;">
                    <span>Specify where you want to invest and press the buy button!</span>
                  </div>
                  
                  <div id="trade_details" style="margin-top:5px; color:green; display:none">
                    <span>The details of your transaction:</span>
                  </div>
                  <div id="trade_info" style="display:none">
                    <div id="points_needed">Points needed: 100</div>
                    <div id="points_available_after">Points available after: 200</div>
                    <div id="shares_buying">You will be buying 2 shares</div>
                  </div>
                <% end %>
              </article>
            <% end %>
          </article>

          <article class="grid_3" style="margin:0">
            <p><strong>Question Ends:</strong><br><%= @market.arbitration_date %></p>
            <p><strong>Category:</strong><br><%= @market.category %></p>
            <p><strong>Tags:</strong><br><%= @market.market_type %></p>
            <p><strong>Predictions Up to Now:</strong><br><%= @utransactions.count %></p>
          </article>
        </article>

        <article class="grid_12">
          <article class="grid_9">
            <div class="post">
              <div class="comments">
                <h2>Discussion</h2>
                 <% if signed_in?%>
                    <%= render 'shared/micropost_form', market_id: @market.id, user_id: current_user %>
                  <% else %>
                    <h4><%= link_to "Sign Up", signup_path, :class => 'one' %> in order to make your predictions and leave your comments </h4>
                <% end %>
                <%= render :partial => @microposts %>
                <%= will_paginate(@microposts, :renderer => WillPaginate::ActionView::LinkRenderer) %>
              </div>
            </div>
          </article>

          <article class="grid_3" style="margin:0">
            <div class="post">
              <div class="comments">
                <h3>Reasons of prediction:</h3>
                <ul style="margin:0px">
                  <% @utransactions.each do |utransaction| %>
                    <% unless utransaction.comment.blank? %>
                      <li>"<%= "#{utransaction.comment}" %>"</li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </article>
        </article>

        <article class="grid_12">
          <div class="post">
            <h2>Historical Trend</h2>
            <chart></chart>
            <script>
                $( document ).ready( function() {
                    d3.xhr( "/markets/<%=@market.id%>/graph_data", function( json ) {
                        console.log(json.response)
                        createChart(JSON.parse(json.response));
                    });
                });
            </script>
          </div>
          <div class="description">
            <h2>Background Information</h2>
            <p><%= @market.description.html_safe %></p>
          </div>

          <ul class="blog_pagination">
            <%= link_to 'Back to Questions', markets_path, :class => "one" %> 
            <% if signed_in? && current_user.admin? %>
              | <%= link_to 'New Contract', new_market_contract_path(@market) %> 
              | <%= link_to 'Edit', edit_market_path(@market) %> 
              | <%= link_to 'Delete', @market, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </ul>
        </article>
      </div>
    </section>
  </div>
</div>

