<footer>
	<div class="wrapper">
		<div class="grid_6">
			<h2>About</h2>
			<p>PolicyOracle is developed by the <a href="http://imu.ntua.gr/" target="blank"> Information Management Unit</a>,  <a href="http://www.iccs.gr/eng/" target="blank"> ICCS </a> within the <a href="http://projectsymphony.eu/" target="blank"> SYMPHONY </a>  research project, which is co-funded by the European Comission under the FP7 program.</p>
			<ul class="social">
			    <li> <a href="https://twitter.com/thepolicyoracle">
			    <figure><%= image_tag "soc1.png" %></figure>
			        Follow us on Twitter</a> </li>
			    <li> <a href="https://www.facebook.com/pages/PolicyOracle/652289414884739">
			    <figure><%= image_tag "soc2.png" %></figure>
			        Join us on Facebook</a> </li>
			</ul>
			</div><!-- grid_6 -->
			<div class="grid_3">
			<h2></h2>
				
			</div><!-- grid_3 -->
			<div class="grid_3 last-col">
			<h2>Navigate</h2>
			<ul class="navigate">
				<li><%= link_to "Contact", contact_path %></li>
			    <li><%= link_to "How to Play?", howtoplay_path %></li>
			    <li><%= link_to "FAQ", faq_path %></li>
			    <li><%= link_to "Sign Up", signup_path %></li>
			</ul>
			</div><!-- grid_3 last-col -->
	</div><!-- wrapper -->
</footer>