<header>
  <h1>PolicyOracle</h1>
  <nav class="round">
    <ul> 
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "How Works", how_works_path %></li>
      <li><%= link_to "Trader Manual", trader_manual_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</header>