<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right"> 
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "How Works", how_works_path %></li>
          <li><%= link_to "Trader Manual", trader_manual_path %></li>
          <li><%= link_to "FAQ", faq_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>