<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= render 'layouts/javascripts' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div class="block1 p_bottom_zero">
      <div class="container_12"> 
        <%= render 'layouts/header' %>
      </div>
    </div>

      <%= yield %>

    <div class="block3"> 
      <div class="container_12">
        <%= render 'layouts/footer' %>
      </div>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>     